{% extends "layout.html" %}

{% block content %}

<link href="{{url_for('.static', filename='css/order.css')}}" rel="stylesheet"/>

<!-- old display
  <div class="row">
    <h1>Commandes</h1>
    {% for order in orders %}
    <ul id="order">
      <li>
        <span class="field-name">id:</span>
        <span class="field-value">{{ order.id }}</span>
      </li>
      <li>
        <span class="field-name">folder:</span>
        <span class="field-value">{{ order.folder }}</span>
      </li>
      <li>
        <span class="field-name">files:</span>
        <span class="field-value">{{ order.files }}</span>
        <button class="btn" onclick="window.location.href='zipped/{{ order.folder }}';"><i class="fa fa-download"></i> Download</button>
      </li>
    </ul>
    {% endfor %}
  </div>
-->

  <!-- New display -->

  <div class="container">
    <h1>Commandes</h1>
    {% for order in orders %}
      <div class="ord-container">
        <div class="ord-info">
          <p>id: {{ order.id }}</p>
          <p>Répertoire: {{ order.folder }}</p>
        </div>
        <div class="ord-files">
          <p>Nombre de fichiers: {{ order.files|length }}</p>
          <p>Fichiers: {{ order.files }}</p>
        </div>
        <div class="download">
          <p>Télécharger</p>
          <button class="btn" onclick="window.location.href='zipped/{{ order.folder }}';"><i class="fa fa-download"></i> Télécharger</button>
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}